@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  
    h1 {
        @apply text-4xl font-bold;
    }

    p {
        @apply text-sm;
    }

    input[type="radio"] {
        @apply
            h-4
            w-4            
            cursor-pointer

            border-gray-300
            text-amber-600
            focus:ring-amber-600
        ;
    }

    .c-container {
        @apply 
            shadow-2xl
            rounded-2xl
            
            p-6
            max-w-2xl

            flex
            flex-col
            /* items-center */
            justify-center
        ;
    }

    .input-field {
        @apply
            p-2
            py-1.5
            w-full
            box-border

            outline-none
            rounded-md
            border-0
            text-gray-900
            shadow-sm
            ring-1
            ring-inset
            ring-gray-300

            placeholder:text-gray-400
            focus:ring-1
            focus:ring-inset
            focus:ring-amber-600

            sm:text-sm sm:leading-6
        ;
    }

    .btn {
        @apply
            mt-4
            w-full
            rounded-md
            bg-amber-600
            px-3.5
            py-2.5
            text-sm
            font-semibold
            text-white
            shadow-sm
            enabled:hover:bg-amber-700
            focus-visible:outline
            focus-visible:outline-2
            focus-visible:outline-offset-2
            enabled:focus-visible:outline-amber-600
            box-border

            disabled:opacity-30
            disabled:cursor-not-allowed
        ;
    }
}
